<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAozOEJ3qAwnfVLxFfs-_okWz-yk2w6xGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>138306259528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>notes-ca8bb</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-ca8bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138306259528:ios:90a693575a42e16f7f667d</string>
	<key>DATABASE_URL</key>
	<string>https://notes-ca8bb-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>